svg {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  pointer-events: none;
  animation: animateDash 3s cubic-bezier(0.5, 0, 0.75, 0) forwards 1;
}

@keyframes animateDash {
  to {
    stroke-dashoffset: 0;
  }
}

img {
	opacity: 0;
	animation: fadeIn 1s ease-in-out 2.5s 1 forwards;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
